.list { 
    width: 100%; 
    display: flex;
    flex-direction: column;

}

.square { 
    width: 150px; 
    height: 150px; 
    background-color: grey;
}

.listItem { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 110%;
    margin-bottom: 20px;
    font-family: JosefSansRegular;
}

.dropdown { 
    width: 50px;
    display: flex;
    justify-content: center;
}
.dropdown, .dropdownItem { 
    font-family: "JosefSansRegular";
}