.container { 
    margin-top: 70px;
    margin-bottom: 70px;
}

.square { 
    width: 100%; 
    height: 500px;
    background-color: #d3d3d3;
}

.productTitle { 
    text-align: start;
    font-size: 175%;
    font-family: "JosefSansMedium";
    margin-bottom: 10px;
}

.productPrice { 
    text-align: start;
    font-size: 150%;
    font-family: "JosefSansMedium";
    margin-bottom: 10px;
}

.productDescription {
    text-align: start; 
    font-size: 110%;
    font-family: "JosefSansMedium";
    margin-bottom: 15px;
}

.ingredients { 
    text-align: start; 
    font-size: 110%;
    font-family: "JosefSansMedium";
    margin-bottom: 15px;
}



.order { 
    width: 100%; 
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.orderText { 
    font-size: 120%;
    font-family: "JosefSansMedium";
}

.menu { 
    width: 100% !important; 
    border-radius: 0 !important;
}

.dropdownToggle { 
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 0 !important;
    font-family: "JosefSansMedium" !important;
  }

  .dropdownItem { 
    width: 100% !important;
    font-family: "JosefSansMedium" !important;
  }